---
import Article from "@components/article/article.astro";

type Props = {
  articles: Record<string, any>[];
  isPrimary?: boolean;
  title: string;
};

const { articles, isPrimary = false, title }: Props = Astro.props;
---

<section>
  <h2 class="text-2xl font-medium">{title}</h2>
  <aside class="lg:grid lg:grid-cols-2 lg:gap-x-16">
    {
      articles.map((post) => (
        <Article
          author={post.frontmatter.author}
          description={post.frontmatter.description}
          image={post.frontmatter.image}
          pubDate={post.frontmatter.pubDate}
          isPrimary={isPrimary}
          tags={post.frontmatter.tags}
          timeToRead={post.frontmatter.timeToRead}
          title={post.frontmatter.title}
          url={post.url}
        />
      ))
    }
  </aside>
</section>
