---
import { truncateString } from "@utils/format";
import Tags from "@components/article/tags.astro";
import Info from "./info.astro";

type Props = {
  author: string;
  description: string;
  isPrimary: boolean;
  pubDate: Date;
  tags: string[];
  timeToRead: string;
  title: string;
  url: string;
  image: {
    url: string;
    alt: string;
  };
};

const {
  author,
  description,
  isPrimary,
  pubDate,
  tags,
  timeToRead,
  title,
  url,
  image,
}: Props = Astro.props;
---

<article class=`mt-8 mb-16 ${isPrimary ? "first-of-type:col-span-2" : ""} `>
  <a href={url}>
    <img
      class="mb-6 rounded-2xl object-contain"
      src={image.url}
      alt={image.alt}
    />
  </a>
  <Tags tags={tags} />
  <Info author={author} pubDate={pubDate} timeToRead={timeToRead} />
  <a href={url}>
    <h2 class="my-2 text-2xl font-medium">{title}</h2>
  </a>
  <p class="text-gray-400">{truncateString(description, 256)}</p>
</article>
