---
import Social from "./social.astro";

const platform = "github";
const username = "aprendiendo";

const links = [
  {
    name: "discord",
    username: "aprendiendo",
  },
  {
    name: "twitter",
    username: "aprendiendo",
  },
  {
    name: "twitch",
    username: "aprendiendo",
  },
  {
    name: "youtube",
    username: "aprendiendo",
  },
  {
    name: "github",
    username: "aprendiendo",
  },
];
---

<footer>
  <p>
    Learn more about my projects on <a
      href={`https://www.${platform}.com/${username}`}>{platform}</a
    >!
  </p>
  {
    links.map((item) => (
      <Social platform={item.name} username={item.username} />
    ))
  }
</footer>
