---
import Info from "@components/article/info.astro";
import Tags from "@components/article/tags.astro";
import Layout from "@layouts/layout.astro";

const { frontmatter } = Astro.props;
---

<Layout pageTitle={frontmatter.title}>
  <h2 class="text-3xl xl:text-5xl">{frontmatter.title}</h2>
  <Info
    author={frontmatter.author}
    pubDate={frontmatter.pubDate}
    showAvatar={true}
    timeToRead={frontmatter.timeToRead}
  />
  <img
    src={frontmatter.image.url}
    class="mb-6 rounded-2xl object-contain"
    alt={frontmatter.image.alt}
  />
  <p class="mt-12 mb-10 text-primary">{frontmatter.description}</p>

  <Tags tags={frontmatter.tags} />

  <main class="markdown mt-20">
    <slot />
  </main>
</Layout>
